In [16]:
%pip install openmeteo-requests numpy pandas matplotlib

Requirement already satisfied: openmeteo-requests in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (1.4.0)
Requirement already satisfied: numpy in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (2.2.5)
Requirement already satisfied: pandas in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: matplotlib in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (3.10.1)
Requirement already satisfied: openmeteo-sdk>=1.4.0 in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (from openmeteo-requests) (1.20.0)
Requirement already satisfied: requests in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (from openmeteo-requests) (2.32.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: flatbuffers==25.2.10 in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (from openmeteo-sdk>=1.4.0->openmeteo-requests) (25.2.10)
Requirement already satisfied: six>=1.5 in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (from requests->openmeteo-requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (from requests->openmeteo-requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (from requests->openmeteo-requests) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/boom/Desktop/dsde-project/env/lib/python3.13/site-packages (from requests->openmeteo-requests) (2025.4.26)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [17]:
import openmeteo_requests
from datetime import datetime
import pandas as pd

In [18]:
# Bangkok coordinates
LATITUDE = 13.7563
LONGTITUDE = 100.5018

START_DATE = "2021-08-01"
END_DATE = datetime.now().strftime("%Y-%m-%d")

RAIN_SUM_THRESHOLD = 1 # mm
PRECIPITATION_HOURS_THRESHOLD = 3 # hours

In [19]:
openmeteo = openmeteo_requests.Client()

url = "https://archive-api.open-meteo.com/v1/archive"
params = {
    "latitude": LATITUDE,
    "longitude": LONGTITUDE,
    "start_date": START_DATE,
    "end_date": END_DATE,
    "daily": ["rain_sum", "precipitation_hours", "precipitation_sum"],
    "timezone": "Asia/Bangkok",
}
responses = openmeteo.weather_api(url, params=params)

In [20]:
response = responses[0]
print(f"Coordinates {response.Latitude()}째N {response.Longitude()}째E")
print(f"Elevation {response.Elevation()} m asl")
print(f"Timezone {response.Timezone()}{response.TimezoneAbbreviation()}")
print(f"Timezone difference to GMT+0 {response.UtcOffsetSeconds()} s")

Coordinates 13.743409156799316째N 100.49586486816406째E
Elevation 4.0 m asl
Timezone b'Asia/Bangkok'b'GMT+7'
Timezone difference to GMT+0 25200 s

In [21]:
daily = response.Daily()
daily_rain_sum = daily.Variables(0).ValuesAsNumpy()
daily_precipitation_hours = daily.Variables(1).ValuesAsNumpy()
daily_precipitation_sum = daily.Variables(2).ValuesAsNumpy()

daily_data = {
    "date": pd.date_range(
        start=pd.to_datetime(daily.Time(), unit="s", utc=True),
        end=pd.to_datetime(daily.TimeEnd(), unit="s", utc=True),
        freq=pd.Timedelta(seconds=daily.Interval()),
        inclusive="left",
    )
}

daily_data["rain_sum"] = daily_rain_sum
daily_data["precipitation_hours"] = daily_precipitation_hours
daily_data["precipitation_sum"] = daily_precipitation_sum

rain_df = pd.DataFrame(data=daily_data)

In [22]:
rain_df.describe()

          rain_sum  precipitation_hours  precipitation_sum
count  1371.000000          1373.000000        1371.000000
mean      4.810649             5.105608           4.810649
std       7.474699             5.496732           7.474699
min       0.000000             0.000000           0.000000
25%       0.000000             0.000000           0.000000
50%       1.200000             4.000000           1.200000
75%       6.800000             8.000000           6.800000
max      56.800003            24.000000          56.800003

In [23]:
rain_df['is_rain'] = (rain_df['rain_sum'] >= RAIN_SUM_THRESHOLD) & (rain_df['precipitation_hours'] >= PRECIPITATION_HOURS_THRESHOLD)
rain_df['is_rain'].value_counts()

is_rain
True     689
False    684
Name: count, dtype: int64

In [24]:
rain_df['date'] = pd.to_datetime(rain_df["date"]).dt.date.astype(str)

In [25]:
rain_df.tail(5)

            date  rain_sum  precipitation_hours  precipitation_sum  is_rain
1368  2025-04-29       8.2                  5.0                8.2     True
1369  2025-04-30      25.1                  8.0               25.1     True
1370  2025-05-01       7.2                  4.0                7.2     True
1371  2025-05-02       NaN                  2.0                NaN    False
1372  2025-05-03       NaN                  0.0                NaN    False

In [26]:
rain_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1373 entries, 0 to 1372
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 1373 non-null   object
 1   rain_sum             1371 non-null   float32
 2   precipitation_hours  1373 non-null   float32
 3   precipitation_sum    1371 non-null   float32
 4   is_rain              1373 non-null   bool
dtypes: bool(1), float32(3), object(1)
memory usage: 28.3+ KB

In [27]:
rain_df.to_csv("./data/rain_data.csv", index=False)